<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'clicker/style.css' %}">
    <title>Number to Binary Clicker</title>
  </head>
  <body>
    <div class="btn-container">
      <div class="btn-group">
        <form action="{% url 'num_clicked' number %}" method="POST">
          {% csrf_token %}
          <button type="submit" value="decrement" name="decrement" style="width: 10%">-</button>
          <button type="submit" value="reset" name="reset" style="width: 33.3%">Reset</button>
          <button type="submit" value="increment" name="increment" style="width: 10%">+</button>
        </form>

      </div>
  </div>
  <div class="num-container">
    <div class="num-display">
      <p style="width: 48%;">Number:</p>
      <p>{{ number }}</p>
    </div>
  </div>
  <div class="num-container">
    <div class="num-display">
      <p style="width: 48%;">Binary:</p>
      <p>{{ binary }}</p>
    </div>
  </div>
  </body>
</html>